// colors
$cl-white: #FFFFFF;
$cl-black: #000000;
$cl-red: #FF0000;
$cl-green: #39804f;

$text-primary: $cl-black;
$text-secondary: #6B7280;
$text-secondary-dark: #737373;
$text-secondary-2: #4D2B97;

$btn-primary: $text-secondary-2;
$btn-primary-hover: $text-secondary-2;
$btn-success: #78fa8c;
$btn-success-hover: #98FFA8;

$input-border: #D1D5DBFF;
$input-background: #F5F5F5;
$input-placeholder: #6B7280FF;

$btn-secondary: #E5E7EB;
$btn-secondary-hover: $input-border;

